:root {
	--main-bg-color: #B45EE0;
}
html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	position: relative;
	height: 100%;
	font-family:'Open Sans',sans-serif;
	font-size: 20px;
	color: #555;  
}
#main-container {
	position: relative;
	height: 100%;
}
button {
	border: none;
	padding: 10px; 
	background: var(--main-bg-color);
	color: white;    
	font-size: 18px; 
	border-radius: 5px;
}
button.votar {
	position: absolute;
	bottom: 40px;
	right: 20px;
	
}
.header {
	background: var(--main-bg-color);
	color: white;
	position: relative;
	height: 70px;
	width: 100%;
	top:0;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	font-size: 24px;
	font-weight: bolder;
}
.header .arrow-back {
	background-image: url("../img/arrow-back.svg");
	height: 51px;
	width: 51px;
	margin-left: 10px;
	margin-right: 10px;
}
.container-tarjeton {
	position: relative;
}
.container {
	flex-grow: 1; 
	position: relative;
	background: white;
	width: 360px;
	height: 600px;  
	padding: 10px;
	overflow-x: scroll;
}
.slide {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 100%;    
	width: 100%;
	position: fixed;
	background-color: lightgrey; 

}

.slide  .descripcion {
	font-size:20px;
	padding: 25px 15px;
}

.slide-1 {
	justify-content: center;
  background-color: white; 
}

.slide-1 img.logo {
	max-width: 90vw;
}

.slide-1 img.tarjetones {
	width: 70vh;
	max-width: 70vw;
}

.slide-6 p {
	text-align: center;
}
.slide-6 .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button {
	margin-top: 1em;
  max-width: 100px;    
}

.tarjeton {
    position:relative;
    width: 360px;
    height: 535px;    
    background-image: url("../img/tarjeton.jpg");
    background-size: 360px 535px;
    background-repeat: no-repeat;
}

.tarjeton.crop-logo {
    position: absolute;
    width: 146px;
    height: 84px;
    left: calc(180px + 0px);
    top: calc(87px + 0px);
    background-image: url("../img/tarjeton.jpg");    
    background-position: -180px -87px;
    animation-name: tarjeton-partido;
    animation-duration: 0.5s; 
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

@keyframes tarjeton-partido {
	from {transform: scale(100%);}
	to {transform: scale(150%);} 
}

.tarjeton.crop-number {
    position: absolute;
    width: 28px;
    height: 14px;
    left: calc(262px + 0px);
    top: calc(94px + 0px); 
    background-image: url("../img/tarjeton.jpg");    
    background-position: -262px -94px; 
    animation-name: tarjeton-numero;
    animation-duration: 0.5s; 
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

@keyframes tarjeton-numero {
	from {transform: scale(100%);}
	to {transform: scale(175%);}
}

.x.partido {
    background-image: url("../img/x-partido.svg");
    position: absolute;
    width: 64.5px;
    height: 70.5px;
    left: calc(180px + 0px);
    top: calc(93px + 0px);     
}

.x.numero {
    background-image: url("../img/x-numero.svg");
    position: absolute;
		width: 19.21px;
		height: 21px;
		left: 266px;
    left: calc(266px + 0px);
    top: calc(89px + 0px);     
}

.slide.fin {
	background-color: white;
	background-image: url("../img/confetti2.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.slide.fin h1 {
	margin-top: 91px;
	color: var(--main-bg-color);
}
.slide.fin p {
	margin: 10px auto;
	max-width: 340px; 
	text-align: center;
	font-size: 18px; 
}


.slide.fin div.fill {
	position: absolute;
	bottom: 0;
	height: 50%;
	width: 100%;
	z-index: -1;
	background-image: url("../img/esperanza_y_petro.png");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	background-size: cover;	
}

.slide.fin img.fill {
	width: 100%;
}

@media (min-width:900px) {
	.slide.fin div.fill {
		height: 100%;
		width: 80%;
		background-position-y: 10vw;
		background-size: 90%;
	}	
}

@media (max-height:480px) {

	.slide  .descripcion {
		font-size:16px;
		padding: 25px 15px;
	}
	
	.slide.fin div.fill {
		height: 100%;
		background-position-y: 20%;
		background-size: cover;	
	}

	.slide-1 img.tarjetones {
		display: none;
	}
}

